/*--------------------------------------------------------------
# Configuração geral
--------------------------------------------------------------*/
/* Tudo que foi feito esta explicadinho, algumas não mas quase tudo */
/* Definindo o corpo da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw; /* define a largura da página como 100% da view width */
  min-height: 100vh; /* define a altura da página como pelo menos 100% da view heigth*/
  font-family: 'Playfair Display SC', sans-serif; /* fonte padrao */
  background-color: #f1eada; /*cor do site */
  color: #e8d9c4; /* cor letra */
  line-height: 1.6; /* espaçamento */
}

.container-geral {
  display: flex; /* define o flexbox layout para todos os conteúdos da página */
  flex-direction: column; /* define a direção de coluna (vertical) para todos os conteúdos da página */
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #1d1b18;
  padding: 1rem; /* espaçamento dentro do header */
  text-align: center; /* alinhamento central dentro do header */
}

header .site-name {
  font-size: 1.5em;
}

header i.material-symbols-outlined {
  display: block;
  padding: 1rem 0;
  cursor: pointer;
}

header nav {
  display: none;
}

header nav ul li {
  list-style: none;
  padding-bottom: 0.7rem;
}

header nav ul li a {
  color: #e8d9c4; /* Define a cor do texto */
  text-decoration: none; /* Remove o sublinhado dos links */
}

header nav ul li a:hover {
  color: #a39986;
}

section.hero {
  background-image: url(../img/hero1.jpg);
  background-size: cover;
  background-position: left center;
  height: 100%;
}

.content {
  padding: 2rem;
}

.hero-title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  /* Define o tamanho da fonte para o parágrafo */
  margin-bottom: 2rem;
  /* Espaçamento inferior do parágrafo */
}

.botao {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #cec1a8;
  text-decoration: none;
  border: 3px solid #cec1a8;
  cursor: pointer;
  padding: 12px 40px 12px 40px;
}

footer {
  text-align: center;
  background-color: #1d1b18;
  padding: 0.95rem;
}


/* Media Queries para telas maiores */

@media screen and (min-width: 992px) {

  body {
    overflow-x: hidden; /* oculta rolagem lateral */
  }

  header {
    display: flex; /* define o flexbox para o header */
    align-items: center; /* alinha verticalmente os conteúdos dentro do header */
    justify-content: space-between; /* espaçamento entre os itens do header (título e navbar) */
    padding: 0 5rem; /*espaçamento dentro do header */
    width: 100%; /*largura de 100% da página */
    height: 120px; /* altura do header de 90px */
    background-color: #1d1b18; /* cor de fundo */
    font-family: 'Cinzel', serif; /* fonte */
  }
  
  header .site-name {
    font-size: 1.5rem;
    /* Define o tamanho da fonte */
    font-weight: bold;
    /* Deixa a fonte em negrito */
    text-transform: uppercase;
    /* Converte todas as letras para maiúsculas automaticamente */
    color: #e8d9c4;
    /* Define a cor do texto */
  }

  header i.material-symbols-outlined {
    display: none; /* menu hambúrguer invisível */
  }

  header nav {
    display: block; /* navbar visível */
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    display: flex;
    padding: 1rem;
  }
  
  header nav ul li a:hover {
    color: #a39986;
  }
  
  header nav ul li a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #55130b;
    width: 0;
    transition: width 0.4s ease;
  }
  
  a:hover::after {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 6.5rem 0 0 5rem;
  }

  .hero-title {
    font-size: 5rem;
  }  

  .hero p {
    font-size: 1.2rem;
    /* Define o tamanho da fonte para o parágrafo */
    margin-bottom: 2rem;
    /* Espaçamento inferior do parágrafo */
  }

  .botao {
    width: 205px;
  }
}